<div>
<span style="color:red"></span>
<form>
<div class="form-group">
<lable for="">Enter Job Title</lable>
<input type="text" ng-model="job.jobTitle" class="form-control">
</div>

<div class="form-group">
<lable for="">Enter Job Description</lable>
<input type="text" ng-model="job.Description" class="form-control">
</div>

<div class="form-group">
<lable for="">Enter Skills required</lable>
<input type="text" ng-model="job.skillsRequired" class="form-control">
</div>

<div class="form-group">
<lable for="">Enter Location</lable>
<input type="text" ng-model="job.location" class="form-control">
</div>

<div class="form-group">
<lable for="">Enter Salary</lable>
<input type="text" ng-model="job.salary" class="form-control">
</div>

<div class="form-group">
<lable for="">Enter Company Name</lable>
<input type="text" ng-model="job.companyName" class="form-control">
</div>

<div class="form-group">
<lable for="">Enter Years of Experiance</lable>
<input type="text" ng-model="job.yrsOfExp" class="form-control">
</div>

<input type="submit" ng-click="saveJob()">
</form>

</div>

